<h1>Else#index</h1>
<p>Find me in app/views/else/index.html.erb</p>

<% total = 0%>
<% death = 0%>
<% murder = 0%>
<% stoner = 0%>
<% pokemon = 0%>
<% help = 0%>
<% birthday = 0%>
<% money = 0%>
<% death_percent = 0%>
<% murder_percent = 0%>
<% stoner_percent = 0%>
<% pokemon_percent = 0%>
<% help_percent = 0%>
<% birthday_percent = 0%>
<% money_percent = 0%>

<% @elses.each do |e| %>
  <p><%= e.counters %></p>
  <% total = JSON.parse(e.counters)["tweets"] %>
  <% death = JSON.parse(e.counters)["death"] %>
  <% murder = JSON.parse(e.counters)["murder"] %>
  <% stoner = JSON.parse(e.counters)["stoner"] %>
  <% pokemon = JSON.parse(e.counters)["pokemon"] %>
  <% help = JSON.parse(e.counters)["help"] %>
  <% birthday = JSON.parse(e.counters)["birthday"] %>
  <% money = JSON.parse(e.counters)["money"] %>
  <% death_percent = (death.to_f/total)*100%>
  <% murder_percent = (murder.to_f/total)*100%>
  <% stoner_percent = (stoner.to_f/total)*100%>
  <% pokemon_percent = (pokemon.to_f/total)*100%>
  <% help_percent = (help.to_f/total)*100%>
  <% birthday_percent = (birthday.to_f/total)*100%>
  <% money_percent = (money.to_f/total)*100%>
  <p><%= total %></p>
  <p><%= death %></p><p><%= death_percent %></p>
  <p><%= murder %></p><p><%= murder_percent %></p>
  <p><%= stoner %></p><p><%= stoner_percent %></p>
  <p><%= pokemon %></p><p><%= pokemon_percent %></p>
  <p><%= help %></p><p><%= help_percent %></p>
  <p><%= birthday %></p><p><%= birthday_percent %></p>
  <p><%= money %></p><p><%= money_percent %></p>

<% end %>
<h4><%= total %></h4>


<svg id="fillgauge1" width="97%" height="250"></svg>
<svg id="fillgauge2" width="19%" height="200"></svg>
<svg id="fillgauge3" width="19%" height="200"></svg>
<svg id="fillgauge4" width="19%" height="200"></svg>
<svg id="fillgauge5" width="19%" height="200"></svg>
<svg id="fillgauge6" width="19%" height="200"></svg>

