<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Tinos:700' rel='stylesheet' type='text/css'>
    <!-- User Added -->

  </head>

  <body>
    <div class="row head text-center main-width">
      <div class="small-12">
        <h6>INFORMATION & TRACKING</h6>
        <h3>YAMMERINGS ON TWITTER</h3>
      </div>

    <div class="row container text-center main-width">
      <div class="row">
        <div class="small-12">
          <%= yield %>
        </div>
      </div>

      <div class="row linkbar text-center main-width">
        <div class="small-3 columns">1</div>
        <div class="small-3 columns">2</div>
        <div class="small-3 columns">3</div>
        <div class="small-3 columns">4</div>
      </div>
    </div>

  </body>
</html>
