<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Yammerings" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= include_gon %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Tinos:700' rel='stylesheet' type='text/css'>
    <!-- User Added -->

  </head>

  <body>
    <div class="row head text-center main-width">
      <div class="small-12">
        <h6>INFORMATION & TRACKING</h6>
        <h3>YAMMERINGS ON TWITTER</h3>
      </div>

    <div class="row container text-center main-width">
      <div class="row">
        <div class="small-12">
          <%= yield %>
        </div>
      </div>

      <div class="row linkbar text-center main-width">
        <div class="small-3 columns">
          <i class="fa fa-globe fa-3x falinks" aria-hidden="true"></i>
          <span><a href="/location">States</a></span>
        </div>
        <div class="small-3 columns">
          <i class="fa fa-pie-chart fa-3x falinks" aria-hidden="true"></i>
          <span><a href="/else">Keywords</a></span>
        </div>
        <div class="small-3 columns">
          <i class="fa fa-ellipsis-h fa-3x falinks" aria-hidden="true"></i>
          <span><a href="/verb">I'm Doing</a></span>
        </div>
        <div class="small-3 columns">
          <i class="fa fa-hashtag fa-3x falinks" aria-hidden="true"></i>
          <span><a href="/hashtag">Hashtags</a></span>
        </div>
      </div>
    </div>

  </body>
</html>
